@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(48, 48, 48);
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


/* NAVIGATION */


.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 6em;
    padding-top: 1.5em;
}

.logo__img {
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 40px;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo__text {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.nav__link {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 3rem;
}

.nav__link:hover {
    color: rgb(100 21 255);
    text-decoration: underline;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.nav__link--purple {
    padding: 0.75rem 2rem;
    background-color: rgb(100 21 255);
    border-radius: 32px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 2rem;
}

.nav__link--purple:hover {
    background-color: rgb(78, 21, 140);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}


/* HERO */

#hero {
    height: 60vh;
}

.hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.text__wrapper {
    width: 40%;
}

.image__wrapper {
    width: 60%;
}

.hero__image {
    width: 100%;
}

.purple__text {
    color: rgb(100 21 255);
}

.paragraph__text {
    font-size: 1.125rem;
    margin: 1.5rem 0 2.5rem 0;
    line-height: 1.5;
}

.get__started {
    border: 1px solid #d3d3d3;
    border-radius: 32px;
    padding: 0.5rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    color: #d3d3d3;

}

.action__input {
    border: none;
    font-size: 1.1rem;
    color: #d3d3d3;
    max-width: 50%;
    text-align: center;
}

.action__button {
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    width: 10rem;
    line-height: 1;
    border: none;
    border-radius: 32px;
    background-color: rgb(100 21 255);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
}

.customers {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.customers__company {
    color: #b0b0b0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.customers__logos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.company__logos {
    margin-top: 1rem;
    width: 80%;
    opacity: 50%;
    display: block;
}


/* SERVICE */

.row__services {
    margin-top: 2rem;
}

.row__service {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em 0;
}

.features,
.features__header,
.features__blabla {
    text-align: center;
}

.features,
.quality {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.features__blabla--center {
    display: flex;
    justify-content: center;
}

.features__blabla {
    max-width: 70%;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 1.5rem 0 2.5rem 0;
    line-height: 1.5;
    text-align: center;
    color: #959494
}

.row__services {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.service__breakdown {
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% / 3);
    margin-bottom: 5rem;
}

.service__breakdown--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.service__breakdown--text {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
    max-width: 90%;
}

.services__heading {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: rgb(48, 48, 48);
    letter-spacing: 0.1rem;

}

.service__breakdown--img {
    padding-right: 0.8rem;
}


.service__img {
    border: 1px solid #d3d3d3;
    border-radius: 9999px;
    padding: 20px;
}


/* QUALITY */

.container {
    margin-top: 6rem;
    max-height: 50vh;
}

.row__wrapper,
.row__wrapper--steps {
    display: flex;
}

.quality__text,
.image_wrapper--quality {
    width: calc(100% / 2);
}

.image__quality {
    width: 100%;
    border: 1px solid #d3d3d3
}

.quality__text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: calc(100% / 2);
}

.quality,
.quality__header,
.quality__blabla {
    text-align: left;
}

.quality__header {
    max-width: 90%;
}

.quality__blabla {
    max-width: 90%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.5rem 0 2.5rem 0;
    line-height: 1.5;
    color: #959494
}


/* STEPS */


.row__wrapper--steps {
    flex-direction: row-reverse;
    margin: 10rem 0;
}

.image__steps {
    width: 100%;
}

.steps__count {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203 213 224)
}

.steps__breakdown--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2rem;
}

.steps__count {
    margin-top: 2rem;
    margin-right: 1rem;
}

.service__breakdown--text {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.steps__breakdown {
    display: flex;
    width: 60%;
    margin-bottom: 5rem;
}

.class__text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


/* QUALITY */

.whatever {
    display: flex;
    width: 100%;
}

.quality__text{
    margin-bottom: 3rem;
    width: 100%;
}

.quality__extra {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%
}

.affordable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img__affordable--span {
    display: flex;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #d3d3d3;
    border-radius: 9999px;
    border-width: 0.01px;
    text-align: center;
}

.image__values {
    width: 100%;
}

.quality__text--para {
    display: flex;
    width: 100%;
    max-width: 100%; 
}


/* PRICING */

.row__service {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.prices__container--wrapper {
    display: flex;
    height: 60vh;
}


.prices__container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: calc( 100% / 3);
    text-align: center;
    margin-right: 3rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 2rem;
} 

.prices__line{
    border: 1px solid #d3d3d3;
    width: 100%;
}

.prices__container--2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.prices__heading--text {
    color: white;
    margin-bottom: 1.5rem;
}

.prices__monthly {
    color: white;
}


.prices__features h3 {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.prices__features h4 {
    color: white;
    margin-bottom: 1rem;
}